body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 80px;
  color: #054768;
  background-color: #5e1dc7;
  text-transform: uppercase;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

.formulario {
  border: 1px solid red;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
  padding: 0;
  margin: 0;
}

.formulario h1 {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.formulario h2 {
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: start;
}

.formulario input {
  font-size: 0.9rem;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: all linear 160ms;
  outline: none;
}

.formulario input:focus {
  border: 1px solid orangered;
}

.formulario label,
span {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.3;
  text-transform: uppercase;
}

.formulario a {
  padding: 10px 20px;
  font-size: 1rem;
  color: #fff;
  transition: all linear 160ms;
}

.formulario a:hover {
  color: #fff;
}

.field-formulario {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
  margin-bottom: 20px;
}

.page {
  border: 1px solid yellowgreen;

  display: grid;
  place-content: center;
  gap: 20px;
  padding: 10px;
}

.buttonCadastrar {
  display: inline-block;
  width: fit-content;
  border: 1px solid;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1.25rem;
  text-decoration: none;
  text-transform: uppercase;
  background-color: orangered;
  color: #fff;
  font-weight: 400;
  border: none !important;
  transition: all linear 160ms;
  cursor: pointer;
  margin: 0 !important;
}

.buttonCadastrar:hover {
  transform: scale(1.05);
  background-color: green;
  color: #fff;
}
